@model LoyaltyProgramManagement.Models.ViewModels.MembersTableModel
@{
    ViewBag.Title = "Member search";
}
<div class="row" id="searchSettings">
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.FirstName)</td>
                <td>@Html.TextBoxFor(m => m.FirstName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.LastName)</td>
                <td>@Html.TextBoxFor(m => m.LastName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.City)</td>
                <td>@Html.TextBoxFor(m => m.City)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.MembershipCode)</td>
                <td>@Html.TextBoxFor(m => m.MembershipCode)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.RecentTransactions)</td>
                <td>@Html.CheckBoxFor(m => m.RecentTransactions)</td>
            </tr>
            <tr>
                <td></td>
                <td style="padding-top: 10px;">
                    <input type="submit" value="Search"/>
                </td>
            </tr>
        </table>
    }
</div>
<div class="row" id="search-results">
    @Html.Partial("MembersTable", @Model.Members)
</div>